.shop-container{
    margin: 2% 1% 0% 2%;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
@media screen and (max-width:600px) {
    .shop-container{
        margin: 2% 1% 0% 2%;
        display: grid;
        grid-template-columns:1fr;
    }
    .products{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}
.shop-right{
    height: 640px;
    position: sticky;
    top: 0;
    padding: 30px 20px;
    background-color: rgb(255, 218, 218);
}